
// Body


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$primary:#011638;
$accent: #3de0dc;
$text:#f2fdff;
$bpurp:#7369f1;
$bred:#e90053;
$byellow: #e9cf2c;
