
// Fonts
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Amiri|Montserrat");
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//---------------------------------------------------------------------------------Base
// * {
//   box-sizing: border-box;
// }
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-in.two {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay:0.7s;
  animation-delay: 0.7s;
}

.fade-in.three {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.flex {
  display: flex;
}
.flex-vertical {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}

html, .body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

 body {
  margin: 0;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
section.intro,
section.about,
section.services,
section.contact,
 {
  width: 100%;
  display: table;
  margin: 0;
  max-width: 100%;
  background-color: $primary;

  &:nth-of-type(2n) {
    background-color: #011638;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='360' height='360' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23168a82' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23011638'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
background-position: center;
  }
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: $text;
  font-weight: 300;
  font-family: 'Amiri', serif;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: $text;
}

a {
  font-weight: 700;
  color: $primary;
  position: relative;

  &:hover{
    opacity: 0.8;
  }

}
#accent {
  color:$accent;
}
//--------------------------------------------------------------------------------Hero

.intro {
  height: 91vh;
  background-image: url('./../img/pcshero.png');
  background-size:cover;
  background-position: center left;
  background-repeat: no-repeat;
  width: 100%;
}
.logo {
  display:inline;
  width:100%;
  margin-top:10vh;
  margin-left:5%;
  padding:5%;
  h1 {
    margin-left:3%;
  }
}

.header-logo {
  margin-top:35vh;
  margin-left:4%;
  height: 20vh;
  width:20vh;
  background-image: url('./../img/logo.svg');
  background-repeat: no-repeat;
  z-index:99;
}
@media screen and (max-width: 800px){
  .intro {
    height: 500px;
    background-position: center right;
    .header-logo {
      margin-top:none;
    }
    .content {
      vertical-align: none;
    }
  }
}
//---------------------------------------------------------------------------------NavBar
#navbar {
  font-size:18px;
  overflow: hidden;
  background:$primary;
  height: 9vh;
  line-height: 9vh;
  white-space: nowrap;
  width: 100%;

}

#navbar a {
  display: inline;
  color: $text;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-left:1%;
  img {
    display: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
#navbar a:hover {
  color: $accent;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left:0%;
  z-index: 99;

  img {
    margin:1% 0 1% 1%;
    float:left;
    display: inline-block;
    background-image:url('./../img/logo.svg');
    background-size:cover;
    height: 6vh;
    width:6vh;
    border:none;
  }
}
a {
  border:none;
}
//----------------------------------------------------------------------------------NavBar2
#navbar2 {
  z-index:1000000;
  font-size:18px;
  overflow: hidden;
  background:$primary;
  height: 9vh;
  line-height: 9vh;
  white-space: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  img {
    margin:1% 0 1% 1%;
    float:left;
    display: inline-block;
    background-image:url('./../img/logo.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vh;
    width:6vh;
    border:none;
  }
}

#navbar2 a {
  display: inline;
  color: $text;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-left:1%;
}

#navbar2 a:hover {
  color: $accent;
}

$max-width: 500px;


*,
*:before,
*:after {
    box-sizing: border-box;
}



 h2, h3,
h4, h5, h6 {
    font-family: 'Amiri', serif;
}

a {
    text-decoration: none;
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
}

.col {
    padding: 1rem;

    @media (min-width: 500px) {
        width: 50%;
        float: left;

        &:nth-of-type(2n+1) {
            clear: left;
        }
    }
}




// ------------------------------------------------------------------------------- Hover buttons


$line-width: 1px;

.btn-nav {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 1.5rem;
    text-decoration: none;

    &:before,
    &:after,
    .btn--inner:before,
    .btn--inner:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: $accent;
        transition: 0.3s ease-in-out;
    }

}

.btn--cw,
.btn--ccw,
.btn--cw-tlbr,
.btn--ccw-tlbr,
.btn--cw-trbl,
.btn--ccw-trbl {
    &:after {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
    }

    .btn--inner:before {
        right: 0;
        left: auto;
    }

    .btn--inner:after {
        top: auto;
        bottom: 0;
    }
}

.btn--cw {
    &:before,
    &:after {
        width: 0;
        height: $line-width;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: $line-width;
        height: 0;
    }

    &:hover {
        &:before,
        &:after {
            width: 100%;
        }

        .btn--inner:before,
        .btn--inner:after {
            height: 100%;
        }
    }
}

.btn--ccw {
    &:before,
    &:after {
        width: $line-width;
        height: 0;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: 0;
        height: $line-width;
    }

    &:hover {
        &:before,
        &:after {
            height: 100%;
        }

        .btn--inner:before,
        .btn--inner:after {
            width: 100%;
        }
    }
}

.btn--tlbr {
    &:before,
    &:after {
        width: 0;
        height: $line-width;
    }

    &:after,
    .btn--inner:after {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: $line-width;
        height: 0;
    }

    &:hover {
        &:before,
        &:after {
            width: 100%;
        }

        .btn--inner:before,
        .btn--inner:after {
            height: 100%;
        }
    }
}

.btn--trbl {
    &:before,
    &:after {
        width: 0;
        height: $line-width;
    }

    &:before,
    .btn--inner:before {
        right: 0;
        left: auto;
    }

    &:after,
    .btn--inner:after {
        top: auto;
        bottom: 0;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: $line-width;
        height: 0;
    }

    &:hover {
        &:before,
        &:after {
            width: 100%;
        }

        .btn--inner:before,
        .btn--inner:after {
            height: 100%;
        }
    }
}

.btn--cw-tlbr,
.btn--ccw-tlbr,
.btn--cw-trbl,
.btn--ccw-trbl {
    &:before,
    &:after,
    .btn--inner:before,
    .btn--inner:after {
        transition: 0.15s ease-in-out;
    }
}

.btn--cw-tlbr {
    &:before,
    &:after {
        width: 0;
        height: $line-width;
        transition-delay: 0.15s;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: $line-width;
        height: 0;
        transition-delay: 0s;
    }

    &:hover {
        &:before,
        &:after {
            width: 100%;
            transition-delay: 0s;
        }

        .btn--inner:before,
        .btn--inner:after {
            height: 100%;
            transition-delay: 0.15s;
        }
    }
}

.btn--ccw-tlbr {
    &:before,
    &:after {
        width: $line-width;
        height: 0;
        transition-delay: 0.15s;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: 0;
        height: $line-width;
        transition-delay: 0s;
    }

    &:hover {
        &:before,
        &:after {
            height: 100%;
            transition-delay: 0s;
        }

        .btn--inner:before,
        .btn--inner:after {
            width: 100%;
            transition-delay: 0.15s;
        }
    }
}

.btn--cw-trbl {
    &:before,
    &:after {
        width: 0;
        height: $line-width;
        transition-delay: 0s;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: $line-width;
        height: 0;
        transition-delay: 0.15s;
    }

    &:hover {
        &:before,
        &:after {
            width: 100%;
            transition-delay: 0.15s;
        }

        .btn--inner:before,
        .btn--inner:after {
            height: 100%;
            transition-delay: 0s;
        }
    }
}

.btn--ccw-trbl {
    &:before,
    &:after {
        width: $line-width;
        height: 0;
        transition-delay: 0s;
    }

    .btn--inner:before,
    .btn--inner:after {
        width: 0;
        height: $line-width;
        transition-delay: 0.15s;
    }

    &:hover {
        &:before,
        &:after {
            height: 100%;
            transition-delay: 0.15s;
        }

        .btn--inner:before,
        .btn--inner:after {
            width: 100%;
            transition-delay: 0s;
        }
    }
}

.btn-nav {
  font-size: 1.25em;
}


// ------------------------------------------------------------------------------ Mobile Nav

.topnav {
  overflow: hidden;
  background-color: $primary;
  z-index: 99;
}

.topnav a {
  float: left;
  display: block;
  color: $text;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.topnav a:hover {

  color: $accent;
}

.active {
  background-color: #4CAF50;
  color: $text;
}

// media query for the topnav (mobile navigation)

@media screen and (max-width: 600px) {
  .topnav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    h2 {
      color: $text;
      font-size: 1.2em;
      margin:.6em 0 0 1em;
    }
  }
  .topnav a:not(:nth-child(5)) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
    top: 0;
  }
  .topnav.responsive .icon {
    position: absolute;
    text-align: center;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width : 600px){
  .topnav{
    display: none;
  }
}
@media screen and (max-width : 600px){
  #navbar2 {
    display:none;
  }
}
@media screen and (max-width : 600px){
    #navbar {
      display:none;
    }
    .intro {
      display:none;
    }
  }



//-------------------------------------------------------------------------------Mainpage Services section
.services{
  height:100vh;
  width:100%;
  z-index:99;
  text-align: center;
  h1 {
    margin-top: 5%;
    font-size: 5em;
  }
}
$hoverEasing: cubic-bezier(0.7, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.4);

p {
  line-height: 1.5em;
}

h1+p, p+p {
  margin-top: 10px;
}
.card-container {
  width:100%;
  margin:3% 0 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border:none;

}

.card-wrap {
  margin: 10px 0;
  transform: perspective(5000px);
  transform-style: preserve-3d;
  cursor: pointer;
  // background-color: $text;

  &:hover {
    .card-info {
      transform: translateY(0);
    }
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s $hoverEasing;
    }
    .card-info:after {
      transition: .5s $hoverEasing;
      opacity: 1;
      transform: translateY(0);
    }
    .card-bg {
      transition:
        0.6s $hoverEasing,
        opacity 2s $hoverEasing;
      opacity: .7;
    }
    .card {
      transition:
        0.6s $hoverEasing;
    }
  }
}

.card {
  position: relative;
  flex-wrap: wrap;
  width: 30vw;
  min-width: 400px;
  height: 60vh;
  background-color: $primary;
  overflow: hidden;
  transition: 1s $returnEasing;
  margin:2em 0;
  border:none;
  img {
    background-size:cover;
  }
  a {
    text-decoration: none;
    color:$text;

  }
}

.card-bg {
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s $returnEasing,
    opacity 2s 1s $returnEasing;
  pointer-events: none;
}

.card-info {
  // padding: 20px;
  position: absolute;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  color: $text;
  transform: translateY(20%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);

  p {
    opacity: 0;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 2s 1s $returnEasing;
  }
}


.card-info h1 {
  font-size: 3em;
  padding:1%;
}
.card-info p {
  font-size: 1.5em;
  padding:1%;
}
@media screen and (max-width : 600px){
  .card{
    min-width: 350px;
  }
}
//----------------------------------------------------------------------------------Services page
#site {
	width: 100%;
	position: relative;
	transition: all 500ms ease-in;
}

.page-section {
	text-align: center;
	position: relative;
  height:100vh;
  width: 100%;
  padding: 0 0;
  img {
    width:100%;
    padding:0 0;
  }


}
@media screen and (max-width : 1000px){
  .page-section {
    height: 100%;
  }
}


.services-text {
  width: 50%;
}

.page-section h2 {
	width: 100%;
	position: absolute;
	top: 50%;
	color: $text;
	font-size: 2vw;
	font-weight: normal;
	margin: -0.5em 0 0 0;
    text-align: justify;
	text-transform: uppercase;
	opacity: 1;
}
.page-section h3 {
	width: 100%;
	position: absolute;
	top: 60%;
  font-family: 'Montserrat', sans-serif;
	color: $text;
	font-size: 1.2vw;
  font-weight: normal;
	margin-top:-1em;
  text-align: justify;
	opacity: 1;

}

 h1, h2, h3, h4, h5, h6 {
   margin-bottom: 0;
 }




.page-section:nth-child(1) {
	background-color: #011638;
  .btn-services {
  	position: absolute;
  	left: 4%;
   bottom: 15%;
  	color: $bred;
  	font-weight: normal;
   text-align: center;
  	opacity: 1;
   background-color: none;
   border: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 20px;
  }
  h2, h3 {
    margin:0 4vw;
  }
  h4 {
    font-size: 1.8vw;
  }
  img {
    padding-left:50%;
  }
  .btn-services:hover {
    color: $accent;
    text-decoration: none;
  }

}
@media screen and (max-width : 1000px){

  .page-section:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      padding-left:0;
      height: 50%;
      width:400px;
      margin: 0 auto;
      margin-top: 100px;
    }
    .services-text{
      width: 80%;
      margin: 0 auto;
      h2, h3 {
        top: 0;
        position: relative;
        margin: 0 0;
        width: 100%;
      }
      h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 2rem;
      }
      h3{
        text-align: left;
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1rem;
      }
      h4 {
        font-size: 1.5rem;
      }
      .btn-services {
        position: relative;
        margin: 0 auto;
        left: 0;
        bottom: 0;      }
    }

  }
}
.page-section:nth-child(2) {
	background-color: $primary;
  .btn-services {
  	position: absolute;
  	right: 6%;
   bottom: 15%;
  	color: $bpurp;
  	font-weight: normal;
   text-align: center;
  	opacity: 1;
   background-color: none;
   border: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 20px;
  }

  h2, h3 {
    margin:0 -5vw;
    text-align: right;
    padding-right:1em;
  }
  h4 {
    font-size: 1.8vw;
  }
  img {
    padding-right:50%;
  }
  .btn-services:hover {
    color: $accent;
    text-decoration: none;
  }
}
@media screen and (max-width :1000px){

  .page-section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      padding-right:0;
      height: 50%;
      width:400px;
      margin: 0 auto;
      margin-top: 100px;
    }
    .services-text{
      width: 80%;
      margin: 0 auto;
      h2, h3 {
        position: relative;
        margin: 0 0;
        padding-right: 0;
        top: 0;
      }
      h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 2rem;
        line-height: 25px;
      }
      h3{
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1rem;
      }
      h4 {
        font-size: 1.5rem;
      }
      .btn-services {
        position: relative;
        margin: 0 auto;
        right: 0;
        top: 0;
      }
    }

  }
}
.page-section:nth-child(3) {
	background-color: #011638;
  padding-bottom: 10%;
  .btn-services {
  	position: absolute;
  	left: 4%;
   bottom: 10%;
  	color: $yellow;
  	font-weight: normal;
   text-align: center;
  	opacity: 1;
   background-color: none;
   border: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 20px;
  }
  h2, h3 {
    margin:0 4vw;
  }
  h4 {
    font-size: 1.8vw;
  }
  img {
    padding-left:50%;
  }
  .btn-services:hover {
    color: $accent;
    text-decoration: none;
  }

}
@media screen and (max-width : 1000px){

  .page-section:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      padding-left:0;
      height: 50%;
      width:400px;
      margin: 0 auto;
      margin-top: 100px;
    }
    .services-text{
      width: 80%;
      margin: 0 auto;
      h2, h3 {
        top: 0;
        position: relative;
        margin: 0 0;
        width: 100%;
      }
      h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 2rem;
      }
      h3{
        text-align: left;
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1rem;
      }
      h4 {
        font-size: 1.5rem;
      }
      .btn-services {
        position: relative;
        margin: 0 auto;
        left: 0;
        top: 0;
      }
    }

  }
}


//---------------------------------------------------------------------------------Mainpage About Us section
.about{
  height: 100vh;
}

.about-container {
  display:flex;
  justify-content: center;
  width:100%;
  flex:wrap;
  // padding:5%;
  overflow: hidden;
}
.about-image {
  width:48%;
  height:80vh;
  background-image:url('./../img/about-home.svg');
  background-size:contain;
  background-repeat: no-repeat;
  margin-top: 5%;
}
.about-text {
  width:50%;
  height:60%;
  display:inline-block;
  color:$text;
  text-align: right;
  margin-top: 17%;

h2{
    padding:10px;
    font-size: 3em;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    font-size: 1em;
  }
  .btn-nav {
    width:300px;
    color:$bpurp;
    text-align: center;
    text-decoration: none;
    float:right;
    margin:5% 5% 0 0 ;
  }
  .arrow {
    margin-top:30%;
  }
}
@media screen and (min-width: 1400px) {
  .about-text {
    h2{
      font-size: 4em;
    }
    h3 {
      line-height: 28px;
      font-size: 1.35em;
    }
  }
}
.arrow {
  text-align: center;
  margin-top: 8% ;
  a {
    color:$text;
    text-decoration: none;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media screen and (max-width: 600px) {
  .about-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .about-image {
    width: 100%;
    height: 430px;
    background-image:url('./../img/about-home.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 5%;
  }
  .about-text {
  width:100%;
  padding:5%;
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: .75em;
    }
    .arrow {
      margin-top:60%;
    }
  }
}

//-------------------------------------------------------------------------------About Us page
.about-hero {
  align-items: center;
  text-align: center;
}
.about-hero h2 {
  font-size: 2em;
  padding:3%;
}
.about-hero h3 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  padding:3%;
}
.about-rose-container {
  padding-top: 60px;
}
.about-rose {
  background-image:url('./../img/about-rose.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 500px;


}
@media screen and (min-width: 1750px) {
  .about-hero {
    h2 {
      font-size: 2.7em;
    }
    h3 {
      font-size: 1.35em;
    }
  }
  .about-rose {
    height:700px;
    width: 800px;
  }

}
@media screen and (max-width: 600px) {
  .about-hero {
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1em;
    }
  }
  .about-rose-container {
    padding-top: 60px;
    margin: 0 auto;
    .about-rose {
      height: 300px;
      width: 350px;
    }
  }
}
.about hr {
  color: $text;
}
// about page - sections
.page-section-about {
  background-color: $primary;
  color: $text;
  padding-top: 5%;
  h1, h2, h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 50px;
  }
}

.process-card-container {
  width: 100%;
  padding-top:10%;
  padding-bottom: 10%;
  flex-wrap: wrap;
}
.about-process {
  padding-top: 10%;
  width: 100%;
  h1 {
    font-size:4em;
  }
}
// each individual card in the process section
.process-card {
  margin: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: $primary;
  min-width: 200px;
  padding: 5px;

  p {
    font-family: 'Amiri', serif;
  }

}
.pc1 {
  background-image:url("./../img/designer.svg");
  height: 100px;
  width: 100%;
  margin : -1%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.pc2 {
  background-image:url("./../img/coding.svg");
  height: 100px;
  width: 100%;
  margin : -1%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.pc3 {
  background-image:url("./../img/devices.svg");
  height: 100px;
  width: 100%;
  margin : -1%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.pc4 {
  background-image:url("./../img/browser.svg");
  height: 100px;
  width: 100%;
  margin : -1%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.process-card ul {
  padding:1em;
}
// *************
// page section profiles

.process-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.process-card-description {
  width: 100%;
  padding-top: 15px;
  p {

    font-size: 1.75em;
  }
  li {
    font-size: 1em;
  }
}

// media query for the about process section in about page
@media screen and (max-width: 600px) {
  .process-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .process-card {


      .pc1, .pc2, .pc3, .pc4 {
        height: 300px;
        width: 50%;
        margin: 0 auto;
      }
      .process-card-description {
        padding-bottom: 70px;
      }
    }

  }

}

.profiles {
  display:flex;
  justify-content: center;
  width:100%;
  text-align:center;
  padding-bottom:20vh;
  flex-wrap: wrap;
  h3 {
    font-size:1.2em;
    padding: 0 10%;
    font-family: 'Montserrat', sans-serif;
  }
}
.us {
  width: 50%;
  min-width: 370px;
  margin-bottom: 5%;
}
.pp {
  margin-left: 5%;
  margin-right: 5%;
  height: 400px;
  width: 350px;

//   -webkit-box-shadow: 10px 10px 8px 0px rgba(61,224,221,1);
// -moz-box-shadow: 10px 10px 8px 0px rgba(61,224,221,1);
// box-shadow: 10px 10px 8px 0px rgba(61,224,221,1);
}

.mack {
  background-image:url("./../img/mackAvatar.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shawn {
  background-image: url("../img/shawn.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .profiles {
    flex-direction: column;
    .us {
      width: 100%;
      padding-bottom: 10%;
    }
  }
}

//----------------------------------------------------------------------------------Contact
.contact {
  height:100vh;
  text-align: center;
}
.contact-form {
  display: flex;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  background-color: $text;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 6%;
  text-align: center;
  justify-content: center;
}

.h1-container {
  display:block;
  justify-content: center;
  font-size:2em;
  h3 {
    color:$text;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
  }
}
.contact-form-container {
  display: flex;
  flex-direction: row-reverse;
  flex:wrap;
  justify-content: center;
}
.contact-form-heading {
  height: 7rem;
}
form {
  width: 60%;
  min-width:400;
  margin-left:4%;
}
.contact-info-container {
  margin-right: 4%;
}
.contact-info {
  text-align: center;
  height:80%;
  min-width: 200px;
  margin: 0 7%;
  margin-bottom: 10%;
  a:hover {
      color:$accent;
      text-decoration: none;
    }
    h3 {
      font-size: 14px;

    }
    .contact-logo {
      height: 110px;
      width:auto;
      background-image: url('./../img/logo.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom:3em;
    }
  }
#contact-call {
  padding: 5% 0;
}

@media screen and (max-width: 600px) {
  .contact-form {
    width: 100%;
  }
  .h1-container {
    h1 {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    h3 {
      font-size: 0.5em;
      line-height: 25px;
      margin-bottom: 25px;
    }

  }
  form {
    width: 100%;
  }
  .contact-logo {
    margin-top: 3em;
  }

}



//--------------------------------------------------------------------------------Footer
footer {
  padding: 1% 5%;
  text-align:center;
  background-color: $primary;
  color: $bred;
  width: 100%;

  a {
    color: $accent;
    font-weight: 500;
    text-decoration: none;
  }
}
